# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/data/*
/dataset/*
/dataset_shelf/*
/myenv/*

/venv/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv310/
yolov8n/
uploads/
venv/
.env/
*.venv
# Bỏ qua file env
.env

# Bỏ qua folder data
data/

# Bỏ qua folder myenv (chính xác tên thư mục)
myenv/



# Editor / IDE files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs and database
logs/
*.log
*.sqlite3
*.db
*.yml

# Python dependency files
pip-log.txt
pip-delete-this-directory.txt
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Compiled C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Docker-related
*.dockerignore
docker-compose.override.yml

# Environment variables
.env
.env.local
.env.*.local

.git/
myenv/
.qodo
2_3_test/
fore_ground/
background/
jacket_data/
pre_handle/
pre_handle_test/
temp/
temp_foreground/
foreground/
test_63/
training_data/
foreground/
yolov8.pt

.git/

.env_vars
.env_vars.sh
ops/
gunicorn_config.py
ops

/ops/
!/ops/*.sample


huey_queue.db
CLAUDE.md
partial_dump.sql
partial_dump.sql
partial_dump1.sql
*.bak
*.sql
*.j2
*.jpg
*.jpeg
*.png
*.jpg
*.jpeg
*.png
*.log
accept_logs/
reject_logs/
accept_logs/
reject_logs/
*.jpg
*.jpeg
*.png
*.log
*.pt
*.onnx
*.bin
*.npy
*.pkl
